/*Beginning of new nav bar css code */
/*Testing 1,2,3 */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: black;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

/*End Testing */

option select{
    font-size: 10px;
}



#adminTable{
	text-align: center;
	color: #2b1459;
}
.container{
width: 976px;
height: 200px;
margin-left: auto;
margin-right: auto;
background-color: #b3c1d6;
border-style: solid;
border-width: 2px;
border-color: black;
}

input[id="navigationBarButton"]{
	font-size: 12pt;
	border-style: solid;
	border-radius: 5px;
	border-color: black;
	border-width: 1px;
	margin: 2px;
	height: 30px;
}

.viewUserHeader{
	background-color: #bfefff;
	color: #2b1459;
width: 974px;
text-align: center;
font-size: 18pt;
}

input[id="addUserInput"]{
display: inline-block;
		font-size: 10pt;
	padding: 3px 10px;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	border-radius: 4px;
	box-sizing: border-box;
	margin: 2px;
	width: 200px;
	height: 43px;
}



/* This is div viewUserMultiLineSelect for viewUsers page */
.viewUsersMultilineSelect{
    background-color: #858fa0;
border-style: solid;
border-width: 1px;
border-radius: 10px;
width: 450px;
height: 400px;
margin: 20px;
float:left;
}

select[id="lstBoxselectUserInViewUser"]{
	margin: 10px;
	text-align: center;
    width: 400px;
    height: 300px;
    font-size: 20pt;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
}

form[id="selectUserButtonForm"]{
	width: 120px;
	float: left;
	margin: 0px 5px 0px 20px;
}
input[id="selectUserButton"]{
	font-size: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 5px;
}
form[id="addUserButtonForm"]{
	width: 100px;
	float: left;
    margin: 0px 12px 0px 12px;
}
input[id="addUserButton"]{
	font-size: 20px;
   /* margin: 0px 10px 0px 20px;*/
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 5px;
}
form[id="removeUserButtonForm"]{
	width: 120px;
	float: left;
}
input[id="removeUserButton"]{
	font-size: 20px;

	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 5px;
}

/* End of div viewUserMultiLineSelect for viewUsers page */


p[id="adminTypeLabel"]{
	margin: 5px;
	width: 100px;
	padding: 0px;
	float:left;
}

/* This is for Div filterBy in viewUserPage*/

div[class="filterByInViewUsers"]{
    background-color: #858fa0; 
	border-style: solid;
border-width: 1px;
border-radius: 10px;
width: 450px;
height: 400px;
margin: 20px 10px 20px 0px;
float:right;
}
#instituteLabelInFilterBy{
	float:left;
	text-align: center;
	font-size: 20px;
	padding: 0px;
	border: 0px;
	width: 80px;
	margin: 5px 5px 0px 35px;
}

p[id="instituteIDLabelInFilterBy"]{
	float:left;
	text-align: center;
	font-size: 20px;
	padding: 0px;
	border: 0px;
	width: 100px;
	margin: 15px 5px 10px 15px;
}
input[class="InstituteIdFilterTextBoxInFilterBy"]{
	width: 250px;
	height: 35px;
    border-width: 1px;
	border-style: solid;
	border-color: black;
	border-radius: 4px;
	box-sizing: border-box;
	margin: 5px 5px 5px 5px;
    padding: 5px 7px;
}

input[id="applyFilterButtonInFilterBy"]{
    font-size: 15px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 5px;
    margin: 5px;
    padding: 3px;
}
p[class="adminTypeLabelInFilterBy"]{
	margin: 10px 05px 5px 0px;
	width: 115px;
	padding: 0px;
	float:left;
    font-size: 20px;
}

p[id="UserIDLabelInFilterBy"]{
	margin: 15px 5px 15px 40px;
	width: 70px;
	padding: 0px;
    float:  left;
    font-size: 20px;
}

input[class="selectUserTextBoxInFilterBy"]{
   	width: 250px;
	height: 35px;
    border-width: 1px;
	border-style: solid;
	border-color: black;
	border-radius: 4px;
	box-sizing: border-box;
	margin: 5px 5px 5px 5px;
    padding: 5px 7px;
    
}
input[id="searchButtonInFilterBy"]{
    font-size: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 10px;
    width: 80px;
    margin: 2px 2px 2px 150px; 
}
/* This is end of div filterBy in view User*/




/*  start div addUserForm left in viewUser_SelectUser */
.addUserForm{
	align-content:  right;
	width: 450px;
    height: 220px;
	background-color: #858fa0;
	padding: 10px;
	float: left;
	margin: 20px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 10px;
}
.selectUserForm{
	align-content:  right;
	width: 450px;
    height: 280px;
	background-color: #858fa0;
	padding: 10px;
	float: left;
	margin: 20px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 10px;
}

/*  start div addUserForm right in viewUser_SelectUser */
.institute_addUser{
	background-color: #858fa0;
	width: 400px;
	height: 220px;
	padding: 12px 20px;
	float: right;
	border-color:black;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	margin: 20px 15px 0px 2px;

}
.institute_selectUser{
	background-color: #858fa0;
	width: 400px;
	height: 280px;
	padding: 12px 20px;
	float: right;
	border-color:black;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	margin: 20px 15px 0px 2px;

}
div[class="chooseInstituteBox"]{
	width: 410px;
	height: 200px;
}

p[id="instituteLabelInviewUser_selectUser"]{
    width:70px;
    height: 15px;
    float:left;
    margin: 8px 25px 8px 10px;
    font-size: 20px;
}
select[class="selectInstituteDropDownInviewUser_selectUser"]
{
	text-align: center;
	float:left;
width: 300px;
border-radius: 5px;
    border-width: 2px;
    border-color: black;
font-size: 20pt;
}

p[id="positionLabelInInstitutionBox"]{
	text-align: center;
	font-size: 20px;
	padding: 0px;
	border: 0px;
	width: 70px;
	float:left;
	margin: 25px 0px 0px 30px; 
}
input[id="addUserPosition"]{
	display: inline-block;
		font-size: 10pt;
	padding: 6px 10px;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	border-radius: 4px;
	box-sizing: border-box;
	margin: 2px;
	width: 300px;
	height: 43px;
	margin: 15px 2px 2px 5px;
}

p[id="linkLabelInInstitutionBox"]{
	text-align: center;
	font-size: 20px;
	padding: 0px;
	border: 0px;
	width: 50px;
	float:left;
	margin: 30px 10px 0px 45px;
}

input[id="addUserInfoLink"]{
	display: inline-block;
		font-size: 10pt;
	padding: 6px 10px;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	border-radius: 4px;
	box-sizing: border-box;
	margin: 2px;
	width: 300px;
	height: 43px;
	margin: 15px 2px 2px 0px;
}

/*  end div addUserForm right in viewUser_SelectUser */

h2[id="filterByHeader"]{
	margin: 5px;
	text-align: center;
	padding: 0px;
}


p[id="ProgramIDLabel"]{
	margin: 5px;
	width: 100px;
	padding: 0px;
	float:left;
}

.viewProgramHeader{
	background-color: #bfefff;
	color: #2b1459;
width: 976px;
text-align: center;
font-size: 18pt;
}

/* Start of div multiLine select in view Programs */
.viewProgramsMultilineSelect{
    background-color: #858fa0;
border-style: solid;
border-width: 1px;
border-radius: 10px;
width: 450px;
height: 400px;
margin: 20px;
float:left;
}
select[id="selectProgram"]{
	margin: 10px;
	text-align: center;
    width: 400px;
    height: 300px;
    font-size: 20pt;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
}

/* end of div multiLine select in view Programs */ 


/*Start filter By div In view Programs */


/*End filter By div In view Programs */
input[id="applyFilterButten"]{
	margin: 0px 0px 0px 200px;
}

form[id="saveChangesToUserName"]{
	text-align: center;
	width: 120px;
	margin: 0px 0px 0px 300px; 
	float: left;
}
form[id="cancelChangesToUserName"]{
	text-align: center;
	width: 120px;
	float: left;
	margin: 0px 0px 0px 20px; 
}
div[id="saveOrCancelButtons"]{
	width:900px;
	height: 50px;
	float: right;
}
.viewUserContainer{
	background-color: #b3c1d6;
	width: 976px;
	height: 570px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	margin: 28px 0px 0px 0px;

}

div[class="selectProgramContainer_ViewProgram"]{
    background-color: #b3c1d6;
	width: 976px;
	height: 1370px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	margin: 28px 0px 0px 0px;
}
select[id="cmbselectAdminTypeInSelectUser"]{
    margin: 0px 5px 0px 5px;
	padding: 0px;
    text-align: center;
    width: 200px;
    height: 40px;
    border-color: black;
    border-radius: 5px;
    font-size: 20pt;
    border-width:2px;
}
input[id="searchByInstituteID"]{
	display: inline-block;
	width: 100px;
	font-size: 10pt;
	padding: 5px 7px;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	border-radius: 4px;
	box-sizing: border-box;
	margin: 2px;
}

/* Start div in viewProgram_SelectProgram */
div[class="programInfoInSelectProgram"]{
    align-content:  right;
	width: 450px;
    height: 500px;
	background-color: #858fa0;
	padding: 10px;
	float: left;
	margin: 20px 5px 20px 20px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 10px;
}
input[class="commonTxtBoxCSS"]{
    display: inline-block;
		font-size: 10pt;
	padding: 3px 10px;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	border-radius: 4px;
	box-sizing: border-box;
	margin: 2px;
	width: 200px;
	height: 43px;
}
input[class="commonTxtBox2CSS"]{
    display: block;
		font-size: 10pt;
	padding: 3px 10px;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	border-radius: 4px;
	box-sizing: border-box;
	margin: auto;
	width: 300px;
	height: 43px;
}
input[class="commonTxtBox3CSS"]{
    display: block;
		font-size: 10pt;
	padding: 3px 10px;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	border-radius: 4px;
	box-sizing: border-box;
	margin: auto;
	width: 380px;
	height: 43px;
}

select[class="commonCmbBoxCSS"]{
    margin: 0px 0px 0px 5px;
	padding: 0px;
    text-align: center;
    width: 200px;
    border-radius: 5px;
    font-size: 20pt;
    border-width:1px;
    border-color: black;
    margin: 2px;
}
select[class="commonCmbBox2CSS"]{
    margin: 0px 0px 0px 5px;
	padding: 0px;
    text-align: center;
    width: 250px;
    border-radius: 5px;
    font-size: 20pt;
    border-width:1px; 
}
select[class="commonCmbBox3CSS"]{
    margin: 0px 0px 0px 5px;
	padding: 0px;
    text-align: center;
    width: 300px;
    border-radius: 5px;
    font-size: 18pt;
    border-width: 1px; 
}


h4[class="programInformationHeader"]{
    margin:0px;
    text-align: center;
}

/* End div in viewProgram_SelectProgram  */
div[class="filterByInViewPrograms"]{
background-color: #858fa0; 
	border-style: solid;
border-width: 1px;
border-radius: 10px;
width: 450px;
height: 400px;
margin: 20px 10px 20px 0px;
float:right;
}
/* Start Career Course Div */
div[id="CareerCoursesDiv"]{
    
   	width: 450px;
    height: 420px;
	background-color: #858fa0;
	padding: 10px;
	float: left;
	margin: 20px 5px 20px 20px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 10px;
}

div[id="CareerCourseSubDiv"]{
    margin: 25px 5px 10px 5px;
    width: 400px;
    height: 110px;
}

/* End Career Course Div */



/* Start div in mappingPrograms_SelectProgram */
div[class="mappingProgramsDiv"]{
    align-content:  right;
	width: 420px;
    height: 500px;
	background-color: #858fa0;
	padding: 10px;
	float: right;
	margin: 20px 20px 20px 5px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 10px;
}

h4[id="mappingProgramHeader"]{
    text-align: center;
    margin: 0px;
   
}

/* Start div in Sub mapping Programs_SelectProgram */

#mappingSubDivInSelectProgram.divMappingSub{
    
    width:420px;
    height: 250px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}
#mappingSubDivInAddProgram.divMappingSub{
    width:420px;
    height: 250px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}
h4.mappingSubHeader{
    text-align: center;
    margin: 0px;
}
select[class="selectInstituteDropDownInSubMapping_selectProgram"]{
    text-align: center;
	float:left;
width: 380px;
border-radius: 5px;
    border-width: 2px;
    border-color: black;
font-size: 15pt;
}
select[class="selectInstituteDropDownInSubMapping_AddProgram"]{
    text-align: center;
	float:left;
width: 380px;
border-radius: 5px;
    border-width: 2px;
    border-color: black;
font-size: 15pt;
}

select[class="selectProgramDropDownInSubMapping_selectProgram"]{
    text-align: center;
	float:left;
width: 380px;
border-radius: 5px;
    border-width: 2px;
    border-color: black;
font-size: 15pt;
}
select[class="selectProgramDropDownInSubMapping_AddProgram"]{
    text-align: center;
	float:left;
width: 380px;
border-radius: 5px;
    border-width: 2px;
    border-color: black;
font-size: 15pt;
}



/* End div in Sub mapping Programs_SelectProgram */


/* End div in mappingPrograms_SelectProgram */

select[class="selectProgramDropDown1"]{
    width: 400px;
    height: 150px;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color:black;
    border-radius: 5px;
}
input[class="commonBtnInMappingPrograms"]{
    font-size: 15px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 10px;
    width: 180px;
    height: 30px;
    margin: 5px;
}
input[class="btnAddTransferInformationInSelectedProgram"]{
    font-size: 15px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 5px;
    width: 100px;
    height: 23px;
    margin: 5px;
}
/* End div in mappingPrograms_SelectProgram */

/* Start div in generalEduInSelectProgram*/
div[id="generalEduInSelectProgram"]{
     align-content:  right;
	width: 420px;
    height: 420px;
	background-color: #858fa0;
	padding: 10px;
	float: right;
	margin: 20px 20px 20px 5px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 10px;
}
#addCourseInGenEdReq.commonBtnInMappingPrograms{
     font-size: 15px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 10px;
    width: 120px;
    height: 30px;
    margin: 5px;
    float:left;
}

input[class="commonBtnInViewPrograms"]{
     font-size: 15px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 10px;
    width: 120px;
    height: 30px;
    margin: 5px;
}
input[class="commonBtn2InViewPrograms"]{
     font-size: 15px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 10px;
    width: 150px;
    height: 30px;
    margin: 5px;
}
input[class="commonBtn3InViewPrograms"]{
     font-size: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 3px;
    width: 70px;
    height: 20px;
    margin: 2px;
}
input[class="commonBtnInCareerCourses"]{
    font-size: 15px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 10px;
    width: 120px;
    height: 30px;
    margin: 5px;
    float: left;
}

p[id="lblPID_viewPrograms"]{
    margin: 15px 3px 10px 25px;
    float: left
}

textarea[class="textarea1InSelectProgram"]{
    width:380px;
    height: 80px;
    border-width: 1px;
	border-color: black;
	border-radius: 5px;
    margin: 5px;
}
textarea[class="textarea1InAddProgram"]{
  width:380px;
    height: 80px;
    border-width: 1px;
	border-color: black;
	border-radius: 5px;
    margin: 5px;
}
h4[class="careerCourseHeader"]{
    text-align: center;
    margin: 0px;
}
h4[class="genEdReqHeader"]{
    text-align: center;
    margin: 0px;
}
p[class="programURL_addProgram"]{
    margin: 0px;
    text-align: center;
}
p[class="programURL_selectProgram"]{
    margin: 0px;
    text-align: center;
}
form[class="frmViewTranserInfoInSelectProgram"]{
    display: block;
    margin: auto;
    width: 190px;
    height: 40px;
    float:left;
}
form[class="frmViewTranserInfoInAddProgram"]{
    display: block;
    margin: auto;
    width: 190px;
    height: 40px;
    float:left;
}
form[class="frmRemoveProgramInSelectProgram"]{
    display: block;
    margin: auto;
    width: 190px;
    height: 40px;
    float:left;
}
form[class="frmRemoveProgramIn_AddProgram"]{
    display: block;
    margin: auto;
    width: 190px;
    height: 40px;
    float:left;
}