/*Beginning of new nav bar css code */
/*Testing 1,2,3 */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: black;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

/*End Testing */

.container{
width: 976px;
height: 1050px;
margin-left: auto;
margin-right: auto;
background-color: #b3c1d6;
border-style: solid;
border-width: 2px;
border-color: black;
}
.selectedProgramContainer .selectedProgramHeader{
	background-color: #bfefff;
	color: #2b1459;
width: 974px;
text-align: center;
font-size: 18pt;
}

/* Start div in viewProgram_SelectProgram */
.selectedProgramContainer div[class="programInfoInSelectProgram"]{
    align-content:  right;
	width: 900px;
    height: 260px;
	background-color: #858fa0;
	padding: 10px;
	
	margin: 10px 5px 10px 20px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 10px;
}
.selectedProgramContainer input[class="commonTxtBoxCSS"]{
    display: inline-block;
		font-size: 10pt;
	padding: 3px 10px;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	border-radius: 4px;
	box-sizing: border-box;
	margin: 2px;
	width: 200px;
	height: 43px;
}

.selectedProgramContainer input[class="commonTxtBox3CSS"]{
    display: block;
		font-size: 10pt;
	padding: 3px 10px;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	border-radius: 4px;
	box-sizing: border-box;
	margin: auto;
	width: 380px;
	height: 43px;
}

.selectedProgramContainer select[class="commonCmbBoxCSS"]{
    margin: 0px 0px 0px 5px;
	padding: 0px;
    text-align: center;
    width: 200px;
    border-radius: 5px;
    font-size: 20pt;
    border-width:1px;
    border-color: black;
    margin: 2px;
    float:left;
}



.selectedProgramContainer h4[class="programInformationHeader"]{
    margin:0px;
    text-align: center;
}



/* End div in viewProgram_SelectProgram  */
/* Start Career Course Div */
.selectedProgramContainer div[id="CareerCoursesDiv"]{
    width: 450px;
    height: 420px;
	background-color: #858fa0;
	padding: 10px;
	float: left;
	margin: 20px 5px 20px 20px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 10px;
}

        /*Career Course Sub div*/
        .selectedProgramContainer div[id="CareerCourseSubDiv"]{
            margin: 25px 5px 10px 5px;
            width: 400px;
            height: 110px;
        }

        .selectedProgramContainer select[class="commonCmbBox3CSS"]{
            margin: 0px 0px 0px 5px;
            padding: 0px;
            text-align: center;
            width: 300px;
            border-radius: 5px;
            font-size: 18pt;
            border-width: 1px; 
        }
        /*End of Career Course Sub Div*/

/* End Career Course Div */


.selectedProgramContainer div[id="generalEduInSelectProgram"]{
     align-content:  right;
	width: 420px;
    height: 420px;
	background-color: #858fa0;
	padding: 10px;
	float: right;
	margin: 20px 20px 20px 5px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 10px;
}
.selectedProgramContainer select[class="selectProgramDropDown1"]{
    width: 400px;
    height: 150px;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color:black;
    border-radius: 5px;
}

/* Career Course */

.selectedProgramContainer h4[class="careerCourseHeader"]{
    text-align: center;
    margin: 0px;
}

.selectedProgramContainer textarea[class="textarea1InSelectProgram"]{
    width:380px;
    height: 80px;
    border-width: 1px;
	border-color: black;
	border-radius: 5px;
    margin: 5px;
}
.selectedProgramContainer input[class="commonBtnInCareerCourses"]{
    font-size: 15px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 10px;
    width: 120px;
    height: 30px;
    margin: 5px;
    float: left;
}


/*General Education*/

.selectedProgramContainer h4[class="genEdReqHeader"]{
    text-align: center;
    margin: 0px;
}


/* End of General Education*/

/* Save or Cancel button*/

.selectedProgramContainer div[id="saveOrCancelButtons"]{
	width:900px;
	height: 50px;
	float: right;
}
.selectedProgramContainer form[class="saveChangesToUserName"]{
	text-align: center;
	width: 160px;
	margin: 0px 0px 0px 260px; 
	float: left;
}

.selectedProgramContainer input[class="commonBtn2InViewPrograms"]{
     font-size: 15px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 5px;
    width: 150px;
    height: 30px;
    margin: 5px;
}
.selectedProgramContainer form[class="cancelChangesToUserName"]{
	text-align: center;
	width: 160px;
	margin: 0px 300px 0px 00px; 
	float: right;
}
